h1 {
    font-size: 72px;
}
h2 {
    font-size: 48px;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.header {
    background-color: #9E122C;
    color: white;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left {
    display: flex;
    align-items: center;
}
.logo {
    height: 40px;
}
.nav-link {
    color: #FCECDF;
    text-decoration: none;
    margin: 0 15px;
}
.nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}
.container {
    background-color: #9E122C;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.container p{
    font-size: 32px;
}
.bio {
    max-width: 50%;
    color: #FBCB77;
}
.image-placeholder {
    width: 400px;
    height: 300px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    margin-right: 5%;
}
.content {
    background-color: #FCECDF;
    padding: 40px;
}
.projects {
    display: flex;
    justify-content: space-between;
}
.card {
    background: white;
    padding: 4%;
    border-radius: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
}
.card p{
    font-size: 24px;
}

.socials {
    background-color: #FBCB77;
    color: #9E122C;
    padding: 40px;
}
.socials-list{
    display: flex; /* Enables flexbox */
    
}

.social-group {
    display: flex; 
    align-items: center; 
    margin-right: 5%; 
}

.social-group p{
    font-size: 32px;
}

.socials img {
    width: 24px;
    margin-left: 10px;
}
