.header {
  background-color: #9E122C;
  color: white;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
}

.nav-link {
  color: #FCECDF;
  text-decoration: none;
  margin: 0 15px;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

h1 {
  font-style: italic;
  color: #9E122C;
  position: absolute;
  bottom: 20px;
  left: 60px;
  font-size: 45px;
}

.main-body {
  background-color: #FCECDF;
  margin-top: 0;
  height: 400px;
  position: relative;
}

h2 {
  padding-left: 60px;
  padding-top: 25px;
  font-size: 35px;
  margin-bottom: 0;
}

h4 {
  color: #F99D90;
}

.row {
  margin-top: 0;
  padding-inline: 60px;
  display: flex;
  flex-direction: row;
}

.col {
  margin-right: 20px;
}